@import './../../assets/constants';

.add-pokemon-component {
  padding: $space * 6;

  .title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: $space * 4;
  }

  .pokemon-wrapper {
    margin-bottom: $space * 4;
  }

  .add-button {
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    color: #a00;
    text-decoration: underline;
  }
}